<form th:fragment="management-table-form(formAction, content, deleteBtnText, registerBtnText, checkboxName, deleteEmptyMessage, deleteConfirmMessage, registerModalTarget)"
      id="management-table-form"
      th:action="${formAction}"
      method="post"
      th:data-checkbox-name="${checkboxName}"
      th:data-delete-empty-message="${deleteEmptyMessage}"
      th:data-delete-confirm-message="${deleteConfirmMessage}">
    <th:block th:replace="~{admin/fragments/global/management-table-form::management-table(${content})}"></th:block>
    <div class="btn-area"
         th:classappend="${#strings.isEmpty(deleteBtnText) and #strings.isEmpty(registerBtnText)} ? ' no-actions'">
        <button id="delete-button"
                type="submit"
                th:if="${!#strings.isEmpty(deleteBtnText)}"
                th:text="${deleteBtnText}"></button>
        <span class="btn-area-spacer"
              th:if="${#strings.isEmpty(deleteBtnText) and !#strings.isEmpty(registerBtnText)}"></span>
        <nav th:replace="~{/admin/fragments/global/admin-pagination}"></nav>
        <button id="register-button"
                type="button"
                th:if="${!#strings.isEmpty(registerBtnText)}"
                th:text="${registerBtnText}"
                th:attr="data-modal-target=${registerModalTarget}"></button>
        <span class="btn-area-spacer"
              th:if="${!#strings.isEmpty(deleteBtnText) and #strings.isEmpty(registerBtnText)}"></span>
    </div>
</form>

<th:block th:fragment="management-table(content)">
    <div class="management-table-scroll">
        <table class="management-table">
            <th:block th:replace="${content}"></th:block>
        </table>
    </div>
</th:block>
