<!DOCTYPE html>
<html lang="en">
<head>
    <title>KMarket 카테고리관리</title>
    <th:block th:replace="~{admin/fragments/global/head::head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/admin/global/section-table.css}">
    <link rel="stylesheet" th:href="@{/css/admin/category-management.css}">
    <script type="module" th:src="@{/js/admin/category-management/category-modifier.js}"></script>
    <script type="module" th:src="@{/js/admin/category-management/category-observer.js}"></script>
    <script type="module" th:src="@{/js/admin/category-management/category-listener.js}"></script>
    <script type="module" th:src="@{/js/admin/category-management/category-management.js}"></script>
</head>
<body>
<header th:replace="~{admin/fragments/global/header::header}"></header>
<div class="admin-layout">
    <aside th:replace="~{admin/fragments/global/aside::aside}"></aside>
    
    <main id="admin-main">
        <div th:replace="~{admin/fragments/global/page-header::page-header}"></div>
        
        <section th:replace="~{admin/fragments/global/dash-section::dash-section(null, '카테고리', '쇼핑몰 메인, 상품 페이지 사이드 카테고리 메뉴 입니다.', ~{admin/fragments/category-management/category-modify-form::category_modify_content})}"></section>
    </main>
</div>

<footer th:replace="~{admin/fragments/global/footer::footer}"></footer>
</body>
</html>
