<!DOCTYPE html>
<html lang="en">
<head>
    <title>KMarket 약관관리</title>
    <th:block th:replace="~{admin/fragments/head::head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/admin/global/section-table.css}">
    <script type="module" th:src="@{/js/admin/setting/terms.js}"></script>
</head>
<body>
<header th:replace="~{admin/fragments/header::header}"></header>
<div class="admin-layout">
    <aside th:replace="~{admin/fragments/aside::aside}"></aside>
    
    <main id="admin-main">
        <div th:replace="~{admin/fragments/page-header::page-header}"></div>
        
        <section th:replace="~{admin/fragments/dash-section::dash-section(null, '구매회원 약관', '회원가입 및 정책 페이지 노출 약관 입니다.', ~{::buyer_terms_content})}">
            <th:block th:fragment="buyer_terms_content">
                <th:block th:replace="~{admin/fragments/section-form::section-form('#', false, ~{::buyer_terms_rows})}">
                    <th:block th:fragment="buyer_terms_rows">
                        <tr>
                            <th><label for="buyer-terms">약관내용</label></th>
                            <td>
                                <textarea id="buyer-terms" name="buyerTerms">
                                    제 1 조 (목적)
                                    이 약관은 주식회사 케이마켓쇼핑몰이 이용자에게 제공하는 서비스 이용조건과 절차 및 기타 필요한 사항을 규정함을 목적으로 합니다.
                                </textarea>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
            </th:block>
        </section>
        
        <section th:replace="~{admin/fragments/dash-section::dash-section(null, '판매회원 약관', '회원가입 및 정책 페이지 노출 약관 입니다.', ~{::seller_terms_content})}">
            <th:block th:fragment="seller_terms_content">
                <th:block th:replace="~{admin/fragments/section-form::section-form('#', false, ~{::seller_terms_rows})}">
                    <th:block th:fragment="seller_terms_rows">
                        <tr>
                            <th><label for="seller-terms">약관내용</label></th>
                            <td>
                                <textarea id="seller-terms" name="sellerTerms">
                                    제 1 조 (목적)
                                    이 약관은 판매회원이 케이마켓 서비스를 이용함에 있어 회사와 판매회원 간 권리, 의무 및 책임사항을 규정합니다.
                                </textarea>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
            </th:block>
        </section>
        
        <section th:replace="~{admin/fragments/dash-section::dash-section(null, '전자금융거래 약관', '회원가입 및 정책 페이지 노출 약관 입니다.', ~{::finance_terms_content})}">
            <th:block th:fragment="finance_terms_content">
                <th:block th:replace="~{admin/fragments/section-form::section-form('#', false, ~{::finance_terms_rows})}">
                    <th:block th:fragment="finance_terms_rows">
                        <tr>
                            <th><label for="finance-terms">약관내용</label></th>
                            <td>
                                <textarea id="finance-terms" name="financeTerms">
                                    제 1 조 (목적)
                                    이 약관은 회사가 제공하는 전자지급결제대행서비스 및 전자금융거래 서비스 이용에 관한 기본 사항을 정합니다.
                                </textarea>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
            </th:block>
        </section>
        
        <section th:replace="~{admin/fragments/dash-section::dash-section(null, '위치정보 이용약관', '회원가입 및 정책 페이지 노출 약관 입니다.', ~{::location_terms_content})}">
            <th:block th:fragment="location_terms_content">
                <th:block th:replace="~{admin/fragments/section-form::section-form('#', false, ~{::location_terms_rows})}">
                    <th:block th:fragment="location_terms_rows">
                        <tr>
                            <th><label for="location-terms">약관내용</label></th>
                            <td>
                                <textarea id="location-terms" name="locationTerms">
                                    제 1 조 (목적)
                                    이 약관은 위치정보사업 또는 위치기반서비스사업과 관련하여 회사와 이용자 사이의 권리와 의무를 정합니다.
                                </textarea>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
            </th:block>
        </section>
        
        <section th:replace="~{admin/fragments/dash-section::dash-section(null, '개인정보처리방침', '회원가입 및 정책 페이지 노출 약관 입니다.', ~{::privacy_terms_content})}">
            <th:block th:fragment="privacy_terms_content">
                <th:block th:replace="~{admin/fragments/section-form::section-form('#', false, ~{::privacy_terms_rows})}">
                    <th:block th:fragment="privacy_terms_rows">
                        <tr>
                            <th><label for="privacy-terms">약관내용</label></th>
                            <td>
                                <textarea id="privacy-terms" name="privacyTerms">
                                    제 1 조 (목적)
                                    회사는 개인정보 보호법 등 관련 법령에 따라 이용자의 개인정보를 보호하고 권익을 보장하기 위해 본 방침을 수립합니다.
                                </textarea>
                            </td>
                        </tr>
                    </th:block>
                </th:block>
            </th:block>
        </section>
    </main>
</div>

<footer th:replace="~{admin/fragments/footer::footer}"></footer>
</body>
</html>
