<!DOCTYPE html>
<html lang="ko">
<head>
    <title>KMarket 배송현황</title>
    <th:block th:replace="~{admin/fragments/head::head}"></th:block>
    <link rel="stylesheet" th:href="@{/css/admin/global/management-table-form.css}">
    <link rel="stylesheet" th:href="@{/css/admin/global/action-bar.css}">
    <link rel="stylesheet" th:href="@{/css/admin/global/modal-form.css}">
    <link rel="stylesheet" th:href="@{/css/admin/global/section-table.css}">
    <link rel="stylesheet" th:href="@{/css/admin/global/search-form.css}">
    <link rel="stylesheet" th:href="@{/css/admin/order/delivery-list.css}">
    <script type="module" th:src="@{/js/admin/order/delivery-list.js}"></script>
</head>
<body class="delivery-list-page">
<header th:replace="~{admin/fragments/header::header}"></header>
<div class="admin-layout">
    <aside th:replace="~{admin/fragments/aside::aside}"></aside>

    <main id="admin-main">
        <div th:replace="~{admin/fragments/page-header::page-header}"></div>

        <section th:replace="~{admin/fragments/dash-section::dash-section(null, null, null, ~{::main_content})}">
            <th:block th:fragment="main_content">
                <form th:replace="~{admin/fragments/search-form::search-form('/admin/order/delivery-list', ~{::options})}">
                    <th:block th:fragment="options">
                        <option value="trackingNo" th:selected="${param.type != null and param.type[0] == 'trackingNo'}">송장번호</option>
                        <option value="orderNo" th:selected="${param.type != null and param.type[0] == 'orderNo'}">주문번호</option>
                        <option value="receiver" th:selected="${param.type != null and param.type[0] == 'receiver'}">수령인</option>
                    </th:block>
                </form>

                <div class="delivery-list-table">
                    <div th:replace="~{admin/fragments/management-table-form::management-table(~{::table-content})}">
                        <th:block th:fragment="table-content">
                            <tr>
                                <th>송장번호</th>
                                <th>택배사</th>
                                <th>주문번호</th>
                                <th>수령인</th>
                                <th>상품명</th>
                                <th>건수</th>
                                <th>물품합계</th>
                                <th>배송비</th>
                                <th>배송상태</th>
                                <th>접수일</th>
                            </tr>
                        </th:block>
                    </div>
                </div>

                <div th:replace="~{admin/fragments/action-bar::action-bar(~{::action-bar-content})}">
                    <th:block th:fragment="action-bar-content">
                        <span></span>
                        <nav class="admin-pagination"></nav>
                        <span></span>
                    </th:block>
                </div>

                <div th:replace="~{admin/fragments/modal::modal('delivery-detail-modal', '배송상세', ~{::delivery_detail_modal_content})}">
                    <th:block th:fragment="delivery_detail_modal_content">
                        <h4>상품정보</h4>
                        <div th:replace="~{admin/fragments/management-table-form::management-table(~{::product-list-table})}">
                            <th:block th:fragment="product-list-table">
                                <tr>
                                    <th>상품이미지</th>
                                    <th>상품번호</th>
                                    <th>상품명</th>
                                    <th>판매자</th>
                                    <th>가격</th>
                                    <th>수량</th>
                                    <th>결제금액</th>
                                </tr>
                            </th:block>
                        </div>

                        <h4>주문정보</h4>
                        <table class="section-table">
                            <tr>
                                <th>주문번호</th>
                                <td id="delivery-detail-order-no">-</td>
                            </tr>
                            <tr>
                                <th>수령인 / 연락처</th>
                                <td id="delivery-detail-orderer">-</td>
                            </tr>
                            <tr>
                                <th>상품 결제금액</th>
                                <td id="delivery-detail-total">-</td>
                            </tr>
                        </table>

                        <h4>배송정보</h4>
                        <table class="section-table">
                            <tr>
                                <th>수령인</th>
                                <td id="delivery-detail-receiver">-</td>
                            </tr>
                            <tr>
                                <th>연락처</th>
                                <td id="delivery-detail-phone">-</td>
                            </tr>
                            <tr>
                                <th>배송지 주소</th>
                                <td id="delivery-detail-address">-</td>
                            </tr>
                            <tr>
                                <th>택배사</th>
                                <td id="delivery-detail-courier">-</td>
                            </tr>
                            <tr>
                                <th>송장번호</th>
                                <td id="delivery-detail-tracking-no">-</td>
                            </tr>
                            <tr>
                                <th>배송상태</th>
                                <td id="delivery-detail-status">-</td>
                            </tr>
                            <tr>
                                <th>접수일</th>
                                <td id="delivery-detail-created-at">-</td>
                            </tr>
                        </table>
                    </th:block>
                </div>
            </th:block>
        </section>
    </main>
</div>

<footer th:replace="~{admin/fragments/footer::footer}"></footer>
</body>
</html>
