<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.k_market.dao.OrderDAO">

    <insert id="insertOrder" parameterType="org.example.k_market.dto.order.OrderDTO"
            useGeneratedKeys="true" keyProperty="orderNo">
        INSERT INTO `order` (
            memberUid, orderPrice, orderDiscount, couponIssueId,
            orderTotal, usedPoints,
            receiver, phone, zipCode, addr1, addr2,
            payMethod, status, orderNote, createdAt
        ) VALUES (
                     #{memberUid}, #{orderPrice}, #{orderDiscount}, #{couponIssueId},
                     #{orderTotal}, #{usedPoints},
                     #{receiver}, #{phone}, #{zipCode}, #{addr1}, #{addr2},
                     #{payMethod}, #{status}, #{orderNote}, NOW()
                 )
    </insert>

    <select id="selectOrderByNo" parameterType="int" resultType="org.example.k_market.dto.order.OrderDTO">
        SELECT
            o.orderNo,
            o.memberUid,
            o.orderPrice,
            o.orderDiscount,
            o.couponIssueId,
            COALESCE((
                SELECT SUM(oi.shippingFee)
                FROM order_item oi
                WHERE oi.orderNo = o.orderNo
            ), 0) AS shippingFee,
            o.usedPoints,
            o.orderTotal,
            o.receiver,
            o.phone,
            o.zipCode,
            o.addr1,
            o.addr2,
            o.payMethod,
            o.status,
            o.orderNote,
            o.createdAt
        FROM `order` o
        WHERE o.orderNo = #{orderNo}
    </select>

    <sql id="searchCondition">
        <where>
            <if test="sellerUid != null and sellerUid != ''">
                EXISTS (
                    SELECT 1
                    FROM order_item seller_oi
                    WHERE seller_oi.orderNo = o.orderNo
                      AND seller_oi.sellerUid = #{sellerUid}
                )
            </if>
            <if test="searchType != null and keyword != null">
                <if test="sellerUid != null and sellerUid != ''">
                    AND
                </if>
                <choose>
                    <when test="searchType == 'orderNo'">
                        o.orderNo = #{keyword}
                    </when>
                    <when test="searchType == 'memberUid'">
                        o.memberUid LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'memberName'">
                        m.name LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
    </sql>

    <select id="selectOrders" resultType="org.example.k_market.dto.order.OrderDTO">
        SELECT
            o.orderNo,
            o.memberUid,
            CASE
                WHEN #{sellerUid} IS NULL OR #{sellerUid} = '' THEN o.orderPrice
                ELSE COALESCE((
                    SELECT SUM(oi.originalPrice * oi.count)
                    FROM order_item oi
                    WHERE oi.orderNo = o.orderNo
                      AND oi.sellerUid = #{sellerUid}
                ), 0)
            END AS orderPrice,
            CASE
                WHEN #{sellerUid} IS NULL OR #{sellerUid} = '' THEN o.orderDiscount
                ELSE COALESCE((
                    SELECT SUM(GREATEST((oi.originalPrice * oi.count) - oi.total, 0))
                    FROM order_item oi
                    WHERE oi.orderNo = o.orderNo
                      AND oi.sellerUid = #{sellerUid}
                ), 0)
            END AS orderDiscount,
            o.couponIssueId,
            CASE
                WHEN #{sellerUid} IS NULL OR #{sellerUid} = '' THEN COALESCE((
                    SELECT SUM(oi.shippingFee)
                    FROM order_item oi
                    WHERE oi.orderNo = o.orderNo
                ), 0)
                ELSE COALESCE((
                    SELECT SUM(oi.shippingFee)
                    FROM order_item oi
                    WHERE oi.orderNo = o.orderNo
                      AND oi.sellerUid = #{sellerUid}
                ), 0)
            END AS shippingFee,
            o.usedPoints,
            CASE
                WHEN #{sellerUid} IS NULL OR #{sellerUid} = '' THEN o.orderTotal
                ELSE COALESCE((
                    SELECT SUM(oi.total + oi.shippingFee)
                    FROM order_item oi
                    WHERE oi.orderNo = o.orderNo
                      AND oi.sellerUid = #{sellerUid}
                ), 0)
            END AS orderTotal,
            o.receiver,
            o.phone,
            o.zipCode,
            o.addr1,
            o.addr2,
            o.payMethod,
            o.status,
            o.orderNote,
            o.createdAt,
            m.name AS memberName,
            (SELECT SUM(oi.count)
             FROM `order_item` oi
             WHERE oi.orderNo = o.orderNo
             <if test="sellerUid != null and sellerUid != ''">
                 AND oi.sellerUid = #{sellerUid}
             </if>
            ) AS totalCount
        FROM `order` o
        LEFT JOIN `member` m ON o.memberUid = m.uid
        <include refid="searchCondition"/>
        ORDER BY o.orderNo DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="selectOrderCount" resultType="int">
        SELECT COUNT(*)
        FROM `order` o
        LEFT JOIN `member` m ON o.memberUid = m.uid
        <include refid="searchCondition"/>
    </select>

    <update id="updateOrderStatus">
        UPDATE `order`
        SET status = #{status}
        WHERE orderNo = #{orderNo}
    </update>

</mapper>
