<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.k_market.dao.OrderDAO">

    <insert id="insertOrder" parameterType="org.example.k_market.dto.order.OrderDTO"
            useGeneratedKeys="true" keyProperty="orderNo">
        INSERT INTO `order` (
            memberUid, orderPrice, orderDiscount, couponIssueId,
            orderTotal, usedPoints, shippingFee,
            receiver, phone, zipCode, addr1, addr2,
            payMethod, status, orderNote, createdAt
        ) VALUES (
                     #{memberUid}, #{orderPrice}, #{orderDiscount}, #{couponIssueId},
                     #{orderTotal}, #{usedPoints}, #{shippingFee},
                     #{receiver}, #{phone}, #{zipCode}, #{addr1}, #{addr2},
                     #{payMethod}, #{status}, #{orderNote}, NOW()
                 )
    </insert>

    <insert id="insertOrderItems">
        INSERT INTO order_item (orderNo, prodVariantId, count, price, total)
        VALUES
        <foreach collection="items" item="item" separator=",">
            (#{item.orderNo}, #{item.prodVariantId}, #{item.count}, #{item.price}, #{item.total})
        </foreach>
    </insert>

    <select id="selectOrderByNo" parameterType="int" resultType="org.example.k_market.dto.order.OrderDTO">
        SELECT
            orderNo,
            memberUid,
            orderPrice,
            orderDiscount,
            usedPoints,
            orderTotal,
            receiver,
            phone,
            zipCode,
            addr1,
            addr2,
            payMethod,
            createdAt
        FROM `order`
        WHERE orderNo = #{orderNo}
    </select>

    <select id="selectOrderItemsByOrderNo" parameterType="int" resultType="org.example.k_market.dto.order.OrderItemDTO">
        SELECT
            orderItemNo,
            orderNo,
            prodVariantId,
            count,
            price,
            total
        FROM `order_item`
        WHERE orderNo = #{orderNo}
    </select>

</mapper>