<th:block th:fragment="head">
    <meta charset="UTF-8">

    <!-- 파비콘 -->
    <link th:if="${siteConfig != null and siteConfig.faviconFiled != 0}"
          rel="icon"
          type="image/png"
          th:href="@{/files/{id}(id=${siteConfig.faviconFiled})}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/admin/global/reset.css}">
    <link rel="stylesheet" th:href="@{/css/admin/global/header.css}">
    <link rel="stylesheet" th:href="@{/css/admin/global/main-style.css}">
    <link rel="stylesheet" th:href="@{/css/admin/global/aside.css}">
    <link rel="stylesheet" th:href="@{/css/admin/global/footer.css}">
    <link rel="stylesheet" th:href="@{/css/admin/global/section-style.css}">
</th:block>s